body{
    font-family: Arial;
    background: #121212;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container{
    text-align: center;
    background: #1f1f1f;
    padding: 30px;
    border-radius: 15px;
    width: 300px;
}

button{
    padding: 10px 20px;
    border: none;
    background: #00b894;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

button:hover{
    opacity: 0.8;
}
